/*This document is the style sheet specific to the 'Resources' page on the Wines of Italy Website*/
/*
*CSS TABLE OF CONTENTS
*
* 1.0 - Flexbox Format
* 2.0 -Resources Content Format
* 3.0 - Wine Bottle Format
*/


/*|| 1.0 - Flexbox Format */
.container-resources{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 5em;
}

/*adjust responsive formatting for tablet and mobile*/
@media screen and (max-width:1024px){
  .container-resources{
    align-items:center;
    display:flex;
    flex-basis:100%;
    flex-direction:column;
    justify-content:center;
    margin-bottom:50px;
  }

/*remove image for tablet and mobile */
  .cr-child1{
    display:none;
  }

  .cr-child2{
  flex-basis:100%;
  margin:0 1em;
  }
}

/*adjust margins for mobile*/
@media screen and (max-width:375px){
  .cr-child2{
  margin-top:2.5em;
  }
}


/*|| 2.0 - Resources Content Format */
.resources {
  text-align:left;
  list-style-position:inside;
  margin: 0;
  padding:0;
}

.resources li {
  list-style-type:none;
  line-height:1.4em;
  margin-bottom:3em;
}


/*adjust responsive formatting for tablet*/
@media screen and (max-width:1024px){
  .cr-child2{
  padding-top:2em;
  }
}

/*adjust responsive formatting for mobile*/
@media screen and (max-width:375px){
  .resources li {
    line-height:0.5em;
    margin-bottom:1em;
  }
}


/*|| 3.0 - Wine Bottle Format */
.winebottle{
  max-width:100%;
  height:auto;
}
