/*This document is the style sheet specific to the 'Blog' page on the Wines of Italy Website*/
/*
*CSS TABLE OF CONTENTS
*
* 1.0 - Flexbox Format
* 2.0 - Subscriber Form
* 3.0 - Blog Article List
*/


/*** 1.0 - Flexbox Format ***/
.blog-post-container{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  border-bottom:solid;
  border-width:thin;
  border-color:#1C2E4A;
  margin:0 6em;
}

.blog-image{
  margin:4em 0;
}

.preview{
  margin:3em 0 0 4em;
}

/* adjust formatting for tablet - change flex direction from row to column*/
@media(max-width:1024px){
  .blog-post-container{
    flex-direction:column;
    margin:4em 0 0 0;
  }

  .blog-image{
    margin:2em 0 0 0;
  }

  .preview{
    margin:1em 0;
  }
}

/* adjust formatting for mobile*/
@media(max-width:375px){
  .blog-post-container{
    border-bottom:none;
    margin-top:3em;
  }

  .blog-image{
    margin:0em;
  }

  .preview{
    margin:0.5em 0;
  }

  main{
    padding:0;
  }
}


/*|| 2.0 - Subscriber Form */
/* This pop-up form was adapted from W3 Schools CSS popup form example https://www.w3schools.com/howto/howto_js_popup_form.asp*/

/*position form*/
.form-popup {
  position:fixed;
  bottom:0;
  right:15px;
  z-index:9;
}

/* align Wines of Italy logo */
.form-container>h2>img{
  margin-top:14px;
  max-width:100%;
  height:auto;
}

/* format the form container */
.form-container {
  max-width:400px;
  padding:15px 20px;
  background-color:#1C2E4A;
  border-radius:4px;
}

/* stlye form container headding */
.form-container>h2{
  color:#fafafa;
  font-weight:300;
  margin:0 12px;
  text-align:center;
}

/* style text input headdings*/
.form-container>label{
  text-transform:uppercase;
  font-weight:500;
  color:#fafafa;
}

/*style text input boxes*/
.form-container>input[type=email], .form-container>input[type=text] {
  width:90%;
  padding:12px;
  margin:5px 0 22px 5px;
  border:none;
  background:#fafafa;
  border-radius:4px;
}

.form-container>input[type=email]:focus, .form-container>input[type=text]:focus{
  outline-color:#D4AF37;
}

/* style the "submit" button */
.form-container>.send-btn, .form-container>.close-btn{
  background-color:#496834;
  text-transform: uppercase;
  color:#fafafa;
  padding:10px 16px;
  cursor:pointer;
  width:48%;
  margin-bottom:10px;
  border-radius:4px;
}

.form-container>.send-btn {
  border:solid 0.5px #496834;
  float:right;
}

.form-container>.send-btn:hover{
  background-color:#679249;
  border-color:#679249;
}

/* style "close" button */
.form-container>.close-btn {
  background-color:#1C2E4A;
  border:solid 0.5px #fafafa;
}

.form-container>.close-btn:hover {
  background-color:#2F5083;
}

/* adjust formatting of pop up form for tablet and mobile screens*/
@media(max-width:375px){
  .form-popup{
    right:5px;
  }

  .form-container{
  max-width:250px;
  }

}
/* End of W3C Schools pop-up form adaptation */


/*|| 3.0 - Blog Article List */
main{
  padding:0 8%;
}

/*style clickable link to blog*/
.blogunderline{
  font-weight:600;
  margin-top:1em;
}

.blogunderline:hover{
  text-decoration:underline;
  color:#5E1224;
}

.blog-image{
  max-width:100%;
  height:auto;
}
