/*This document is the style sheet specific to the 'Regions' page on the Wines of Italy Website*/
/*
*CSS TABLE OF CONTENTS
*
* 1.0 - Flexbox Format
* 2.0 - Main Text Format
* 3.0 - Map Format
* 4.0 - Popular Regions Format
* 5.0 - Wine Facts Format
*/


/*|| 1.0 - Flexbox Format */
/* interactive map and other content in row format*/
.container1 {
  display:flex;
  justify-content:space-around;
  margin-top:50px;
}

.child1{
  order:1;
  flex-grow:2;
}

.child2{
  order: 1;
  margin:0 2em;
}

/*flexbox formatting for smaller screens- stack using columns left to right*/
@media screen and (max-width:1024px){
  .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/*|| 2.0 - Main Text Format */
#welcome-regions{
  text-align:center;
  margin:0 12em;
}

/*heading text alignment adjusted for tablet screens*/
@media screen and (max-width: 1024px){
  #welcome-regions{
    margin:6em 3em 0 3em;
  }
}

/*heading text alignment adjusted for mobile screens*/
@media screen and (max-width: 375px){
  #welcome-regions{
    margin:0.5em 2em 0 2em;
  }
}

/*|| 3.0 - Map Format */
object{
  max-width:140%;
  height:auto;
}

/*adjust map size for tablet*/
@media screen and (max-width: 1024px){
  object{
    max-width:100%;
    height:auto;
  }
}

/*|| 4.0 - Popular Regions Format ***/
.pop-regions {
  margin-left:8em;
  margin-bottom:4em;
}

#popular-regions{
  list-style-position: inside;
  padding-left:0;
}

/*center the list text below images of the corresponding regions*/
#popular-regions>li{
  text-align:center;
  list-style-type:none;
  display:inline-block;
  padding:10px 18px;
}

#popular-regions>li>a>img{
  max-width:100%;
  height:auto;
}

#popular-regions>li>a>img:hover{
  border-radius:50%;
  box-shadow:0 0 0 3px;
}

/*adjust responsive text size for smaller screens*/
@media screen and (max-width: 1024px){
  .pop-regions {
    margin-left:0em;
  }
}

/*|| 5.0 - Wine Facts Format */
.facts{
  margin-left:8em;
}

#wine-facts{
  list-style-position: inside;
  padding-left:0;
}

#wine-facts>li{
  padding-bottom:1em;
  text-indent:0;
  text-align:left;
  list-style-type: none;
}

/*adjust margins for tablet screens*/
@media screen and (max-width: 1024px){
  .facts{
    margin-left: 0em;
  }

}
